@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee&family=Sigmar&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bungee", cursive;
  color: whitesmoke;
  filter: blur(80%);
  animation: blur 2s both;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}
@keyframes blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    filter: blur(0%);
  }
}
a {
  font-size: 1.4em;
  color: whitesmoke;
  text-decoration: none;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  transition: all 0.3s ease-in-out;
}

a:hover {
  scale: 1.1;
  color: #FF6666;
}

.line {
  position: relative;
}

#title {
  position: absolute;
  cursor: default;
  top: 2vh;
  left: 5em;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

small {
  position: absolute;
  cursor: default;
  top: 3.2rem;
  left: 11.4em;
  text-decoration: none;
  font-size: small;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  transition: all 0.3s ease-in-out;
}

#community {
  position: absolute;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  word-spacing: 4px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

#book {
  position: inherit;
  display: none;
  filter: drop-shadow(-1px 5px 1000px whitesmoke);
  top: 48vh;
  scale: 0.12;
}

.parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  align-items: center;
  background-color: #23272a;
  box-shadow: inset 0 -300px 60px -300px whitesmoke;
}
.parallax_wrapper .intro_screen {
  height: 10vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .outro_screen {
  justify-content: center;
  height: auto;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .outro_screen a {
  font-size: larger;
  margin-bottom: 20vh;
}
.parallax_wrapper a:hover {
  color: whitesmoke;
  text-shadow: -1px 1px 0 #FF6666, -1px 2px 0 #FF6666, -1px 3px 0 #FF6666, -1px 4px 0 #FF6666, -1px 5px 0 crimson;
}
.parallax_wrapper span {
  position: absolute;
  top: -1vh;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax_wrapper .parallax_group .parallax_layer {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .base_layer {
  top: -30vh;
  transition: all 0.3s ease-in-out;
  transform: translateZ(-300px) scale(2);
}
.parallax_wrapper .parallax_group .base_layer p,
.parallax_wrapper .parallax_group .mid_layer p {
  position: absolute;
  color: smokewhite;
  top: 2em;
  margin: 4em;
  max-width: 40em;
  font-family: "Boogaloo", cursive;
  text-align: center;
  font-size: large;
}
.parallax_wrapper .parallax_group h2 {
  position: absolute;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  word-spacing: 4px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .base_layer p:nth-child(4) {
  top: 20em;
}
.parallax_wrapper .parallax_group .base_layer h2:nth-child(3) {
  top: 2em;
}
.parallax_wrapper .parallax_group .mid_layer {
  transform: translateZ(0) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .section {
  cursor: default;
  position: relative;
  top: 1vh;
  padding: 5rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .section-1 {
  left: -8rem;
  transform: translateY(26rem);
  background-image: url(../assets/images/mvp.png);
  background-size: 4rem;
  background-position: center;
  background-repeat: no-repeat;
}
.parallax_wrapper .parallax_group .section-2 {
  top: 21vh;
  padding: 90%;
}
.parallax_wrapper .parallax_group .section p {
  position: absolute;
  top: 6vh;
  font-family: "Boogaloo", cursive;
  text-align: center;
  font-size: medium;
}
.parallax_wrapper .parallax_group .section-1.in-view,
.parallax_wrapper .parallax_group .sections-effect.no-js .section-1 {
  opacity: 1;
}
.parallax_wrapper .parallax_group .section-2.in-view,
.parallax_wrapper .parallax_group .sections-effect.no-js .section-2 {
  opacity: 1;
}
.parallax_wrapper .parallax_group .section-3.in-view,
.parallax_wrapper .parallax_group .sections-effect.no-js .section-3 {
  opacity: 1;
}
.parallax_wrapper .parallax_group .top_layer {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(210px) scale(0.3);
}
.parallax_wrapper #intro {
  height: 15vh;
  z-index: 0;
}
.parallax_wrapper #outro {
  height: 10vh;
}
.parallax_wrapper #group_1 {
  z-index: -1;
}
.parallax_wrapper #group_1 > .base_layer {
  height: 80vh;
  background-image: url(../assets/images/office.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -300px 200px -120px #23272a;
}
.parallax_wrapper #group_1 > .mid_layer {
  background-color: transparent;
  box-shadow: 0px -1px 200vh whitesmoke;
  filter: brightness(1.1);
  top: 62vh;
  height: 12vh;
}
.parallax_wrapper #group_2 > .base_layer {
  top: 32vh;
  height: 12vh;
}
.parallax_wrapper #group_2 > .mid_layer {
  height: 81vh;
}
.parallax_wrapper #group_2 > .top_layer {
  height: 110vh;
  left: -4vw;
}

nav {
  z-index: 1;
  background-color: #FF6666;
  box-shadow: 0px 0px 20px #FF6666;
  filter: drop-shadow(0px 0px 10px #23272a);
  height: 12vh;
  position: fixed;
  inset: 0;
  justify-content: flex-start;
}

#navicon {
  filter: drop-shadow(-1px 5px 1px #23272a);
  width: 8em;
  margin-top: 1vh;
}

.community #discord {
  position: relative;
  filter: drop-shadow(-1px -5px 30px #23272a);
  bottom: 5.2vh;
  scale: 0.19;
  transition: all 0.3s ease-in-out;
}

.community #discord:hover {
  transform: rotateZ(360deg);
  filter: drop-shadow(-1px 5px 300px #23272a);
  scale: 0.21;
}

.community #discord:active {
  scale: 0.18;
  filter: drop-shadow(-1px 5px 300px whitesmoke);
}

#sponsor {
  position: absolute;
  top: 12vh;
  left: 3vh;
  padding: 2rem;
  box-shadow: 0px -100px 500px #FF6666;
  border-radius: 10px;
  animation: hue 3s both infinite;
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */