@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Sigmar&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

// mixin properties to be reused
@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Bungee', cursive;
    font-size: 1.4em;
    color: white;
    background-color: #383D3B;
    // background-image: url(../assets/images/logo1.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    filter: blur(80%);
    animation: blur 2s;
    animation-fill-mode: both;
}

.line {
    position: relative;
    // background-image: url(../assets/images/H.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
}

#title {
    position: absolute;
    margin-right: -120px;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: whitesmoke;
    text-shadow: 1px 1px 0 #383D3B, 1px 2px 0 #383D3B, 1px 3px 0 #383D3B, 1px 4px 0 #383D3B,
    1px 5px 0 #383D3B, 1px 6px 0 #383D3B, 1px 7px 0 #383D3B, 1px 8px 0 #383D3B;
    word-spacing: 10px;
    // left: 10vw;
    // border: whitesmoke 2px solid;

    font-size: xx-large;
}

@-webkit-keyframes blur {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
        filter: blur(0%);
        }
      }

    
@keyframes blur {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      filter: blur(0%);
      }
    }

    .parallax_wrapper {
        // everything inside wrapper is 100 viewport window
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        // perspective is like angled distance from direct view
        perspective: 300px;
        align-items: center;

        .intro_screen {
            height: 100vh;
            margin-bottom: -10vh;
            background-image: url(../assets/images/H.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;


            // here, the mixin property is being used
            @include align-center();
        }

        .outro_screen {
            height: 100vh;
            margin-top: 20vh;
            justify-content: center;
            background: transparent;
            @include align-center();
        }

        .parallax_group {
            position: relative;
            height: 100vh;
            // when given depth, the element keeps its position
            // 
            transform-style: preserve-3d;

            .parallax_layer {
                position: absolute;
                // inset takes all four properties of top, right, left, bottom in one declaration
                inset: 0;
                @include align-center();
            }

            // base layer should not be put within the parallax layer, but at the same indentation
            .base_layer {
                left: -6px;
                margin-top: 20vh;
                background-color: #FF6666;

                // scale calculation: 1 + (Z transform value * -1) / perspective)
                transform: translateZ(-300px) scale(2);
            }

            .mid_layer {
                transform: translateZ(0) scale(1);
                @include align-center();
            }

            .top_layer {
                transform: translateZ(210px) scale(0.3);
                border-top: whitesmoke 2px solid;
                border-bottom: whitesmoke 2px solid;
            }
        }

        #intro {
            z-index: 0;
        }

        #group_1 {
            z-index: -1;
        }

        #group_1 > .base_layer {
            height: 15vh;
            box-shadow: 0px 0px 100px #FF6666;
        }

        #group_1 > .mid_layer {
        }

        #group_2 > .mid_layer {
            background: blueviolet;
        }

        #group_3 > .fold_layer {
            @include align-center();
            // background-image: url(../assets/images/source.gif);
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;
            // filter: blur(2px);
        }

        // #group_2 > .top_layer {
        //     background-image: url(../images/source.gif);
        //     background-size: contain;
        //     background-repeat: no-repeat;
        // }
    }