@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Sigmar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee&family=Sigmar&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bungee", cursive;
  color: black;
  filter: blur(80%);
  animation: blur 2s both;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}
@keyframes blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    filter: blur(0%);
  }
}
a {
  font-size: 1.2em;
  color: whitesmoke;
  text-decoration: none;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  transition: all 0.3s ease-in-out;
}

.line {
  position: relative;
}

#title {
  position: absolute;
  cursor: default;
  color: whitesmoke;
  top: 2vh;
  left: 5em;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

small {
  position: absolute;
  cursor: default;
  color: whitesmoke;
  top: 3.2rem;
  left: 11.4em;
  text-decoration: none;
  font-size: small;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  transition: all 0.3s ease-in-out;
}

#book {
  position: inherit;
  display: none;
  filter: drop-shadow(-1px 5px 1000px whitesmoke);
  top: 38vh;
  scale: 0.12;
}

.parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  align-items: center;
  background-color: #0490fa;
  box-shadow: inset 0 -500px 5vh -500px whitesmoke;
}
.parallax_wrapper .intro_screen {
  height: 10vh;
  margin-bottom: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .outro_screen {
  justify-content: center;
  height: auto;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper a:hover {
  color: whitesmoke;
}
.parallax_wrapper a:visited {
  color: whitesmoke;
}
.parallax_wrapper span {
  background-color: #0490fa;
  box-shadow: 20px 1vh 20px whitesmoke;
  padding: 2vh;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.parallax_wrapper span:hover {
  background-color: transparent;
  box-shadow: none;
}
.parallax_wrapper .parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax_wrapper .parallax_group .parallax_layer {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .base_layer {
  top: -30vh;
  transition: all 0.3s ease-in-out;
  transform: translateZ(-300px) scale(2.1);
}
.parallax_wrapper .parallax_group p {
  position: relative;
  top: 4rem;
  margin: 10vw;
  max-width: 70vw;
  text-wrap: balance;
  font-family: "Boogaloo", cursive;
  text-align: center;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group h2 {
  color: whitesmoke;
  text-shadow: -1px 1px 0 #23272a, -1px 2px 0 #23272a, -1px 3px 0 #23272a, -1px 4px 0 #23272a, -1px 5px 0 #1e2124;
  word-spacing: 4px;
  text-align: center;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .base_layer p:nth-child(4) {
  top: 20em;
}
.parallax_wrapper .parallax_group .base_layer h2:nth-child(3) {
  top: 4em;
}
.parallax_wrapper .parallax_group .mid_layer {
  transform: translateZ(0) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .section {
  cursor: default;
  position: relative;
  top: 1vh;
  padding: 5rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax_wrapper .parallax_group .section-1 {
  left: -8rem;
  transform: translateY(26rem);
  background-image: url(../assets/images/mvp.png);
  background-size: 4rem;
  background-position: center;
  background-repeat: no-repeat;
}
.parallax_wrapper .parallax_group .section-2 {
  top: 21vh;
  padding: 90%;
}
.parallax_wrapper .parallax_group .section p {
  position: absolute;
  top: 6vh;
  font-family: "Boogaloo", cursive;
  text-align: center;
  font-size: medium;
}
.parallax_wrapper .parallax_group .section-1.in-view,
.parallax_wrapper .parallax_group .sections-effect.no-js .section-1 {
  opacity: 1;
}
.parallax_wrapper .parallax_group .section-2.in-view,
.parallax_wrapper .parallax_group .sections-effect.no-js .section-2 {
  opacity: 1;
}
.parallax_wrapper .parallax_group .section-3.in-view,
.parallax_wrapper .parallax_group .sections-effect.no-js .section-3 {
  opacity: 1;
}
.parallax_wrapper .parallax_group .top_layer {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(210px) scale(0.31);
}
.parallax_wrapper #intro {
  height: 25vh;
  z-index: 0;
}
.parallax_wrapper #outro {
  height: 10%;
}
.parallax_wrapper #group_1 {
  z-index: -1;
}
.parallax_wrapper #group_1 > .base_layer {
  height: 100vh;
  box-shadow: inset 0 -300px 200px 120px #0490fa;
}
.parallax_wrapper #group_1 > .base_layer::after {
  content: "";
  -webkit-mask-image: linear-gradient(to bottom, #0490fa 50%, transparent 90%);
          mask-image: linear-gradient(to bottom, #0490fa 50%, transparent 90%);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/images/office.jpg);
  filter: blur(2px);
}
.parallax_wrapper #group_1 > .mid_layer {
  background-color: transparent;
  box-shadow: 0px -1px 200vh whitesmoke;
  top: 65vh;
  height: 12vh;
}
.parallax_wrapper #group_2 > .base_layer {
  top: 36vh;
  height: 16vh;
}
.parallax_wrapper #group_2 > .mid_layer {
  height: 60vh;
}
@media screen and (max-width: 600px) {
  nav {
    background-color: transparent;
  }
}
nav {
  z-index: 1;
  background-color: transparent;
  filter: drop-shadow(0px 0px 10px #23272a);
  height: 12vh;
  position: fixed;
  inset: 0;
}

#navicon {
  width: 5em;
  margin-top: 1.5vh;
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */